---
layout: default
---
<div class="container">
    <div class="content">
        <div class="cardAbout">
            <h2>About</h2>
            <img src="assets/images/luke.jpg" alt="Bio" class="responsive" width="600" height="400">
            <br>
            <p>I’m a senior marketing strategist working in the healthcare field. I have 10+ years of marketing/sales experience
                and recently obtained a Master’s degree in Communications: New Media and Marketing at Southern New Hampshire
                University.</p>
            <p>I have a passion for videography and photography. I’m looking to utilize my passion and experience, along
                with my education to get into Marketing Management. I’m currently enrolled in a six month coding bootcamp
                at Northwestern University to further my digital skillset. I have a passion for sports specifically the
                NFL. I’m a diehard Green Bay Packers fan, and have a love for all things film and television related.
                I consider myself pretty tech savvy so I’ll focus on the latest gizmos and gadgets that come out.</p>

            <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> -->
            <!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> -->
            <!-- Your share button code -->
            <!-- <div class="fb-share-button" data-href="https://www.your-domain.com/your-page.html" data-layout="button_count"></div> -->

        </div>


    </div>
